.header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 4px;
  margin-right: 4px;
}
.header-container img {
  width: 70px;
  border-radius: 30px;
}
